importFrom("truncnorm","rtruncnorm")
importFrom("mnormt", "rmnorm")
importFrom("MCMCpack", "rinvgamma", "riwish")
importFrom("mgcv","rig")
importFrom("MASS","mvrnorm")
importFrom("stats", "lm", "median", "pnorm", "rbeta", "rgamma","rnorm", "runif", "sd", "var")
importFrom("utils", "tail")
exportPattern("^[[:alpha:]]+")
export(normalize,Mnormalize,BSGSSS_EM_t,BGLSS_EM_lambda,MBGLSS_EM_lambda,MBSGSSS_EM_t,gen_data_uni,gen_data_Multi)
